/*
    This style sheet stylizes the controls inside our
    Wolfieball Draft Kit JavaFX application. Note that controls
    in the UI must have the same class as those below in
    order to be rendered using those properties.

    Author     : Kevin Young
*/

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #5C74D4;
    -fx-background-radius: 0.0;
    -fx-padding: 20;
    -fx-spacing: 30;
    -fx-border-width: 2px;
    -fx-border-color: #9D3C39;
}

// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 26pt;
    -fx-font-weight: bold;
}

// Labels heading smaller sections 
.smaller_heading_label {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-font-size: 14pt;
    -fx-font-weight: bolder;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}

// The table 
.table {
    -fx-base: #135490;
    -fx-control-inner-background: #FFFFFD;
    -fx-background-color: #FFFFFD;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
    -fx-border-color: black;
    -fx-font-size: 12pt;
}

/*
.combo_box {
    -fx-background: black;
    //-fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 20 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo_box:hover
{
    -fx-color: -fx-hover-base;
}
.combo_box:showing 
{
    -fx-color: -fx-pressed-base;
}
.combo_box:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo_box:disabled {
    -fx-opacity: .4;
}*/
